 body {
 	background-image: url("imagenes/descarga.jpg");
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-position: center center;
		background-attachment: fixed;	
 }

 
	button {
		 padding: 12px 20px;
		 width: 40%;
		 margin: 8px;
		 border-radius: 6px;
		 background-color: #4d4dff; /* Green */
		 border: none;
		 color: white;
		 text-decoration: none;
		 display: inline-block;
		  transition-duration: 0.4s;
		  cursor: pointer;
		  font-size: 20px;
	}


	button:hover {
    background-color: #3366ff ;
    color: white;
    border: 2px solid #4CAF50;
}

.formulario{
            background-color: aliceblue;
            height: 200px;
            width: 30%;
            transition:2s;
            margin-top: 100px;
            box-shadow: 0px 0px 40px  blue, 0px 0px 80px black;
        }